

/* Meyer Reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* END RESET */

@font-face {
	font-family: neutraReg;
	src: url(Font/NeutraText-Demi.ttf);
}

@font-face {
	font-family: neutraCon;
	src: url(Font/NeutrafaceCondensed-BoldAlt.otf);
}

@font-face {
	font-family: charCap;
	src: url(Font/ChaparralPro-Capt.otf);
}

@font-face {
	font-family: charItal;
	src: url(Font/ChaparralPro-ItCapt.otf);
}

@font-face {
	font-family: neutraBold;
	src: url(Font/NeutraTextTF-Bold.otf);
}

@font-face {
	font-family: charDisp;
	src: url(Font/ChaparralPro-Disp.otf);
}

@font-face {
	font-family: charBold;
	src: url(Font/ChaparralPro-BoldCapt.otf);
}

.song {
	font-family: charCap;
	font-size: 13px;
	background-color: #dfdfdf;
	display: inline-block;
	text-align: right;
	line-height: 1.25em;
	padding: 30px 80px 30px 30px;
	margin: 10px 25px 25px 50px;
}

h1 {
	font-family: neutraReg;
	font-size: 36.5px;
	margin: 10px 25px 0px 50px;
}

h2 {
	font-family: neutraCon;
	font-size: 65px;
	margin: -5px 25px 8px 50px;
}

h5 {
	font-family: charItal;
	font-size: 15px;
	margin: 0px 25px 25px 50px;
}

.ingredients {
	font-family: charBold;
	font-size: 13.5px;
	line-height: 1.2em;
	margin: 0px 0px 25px 50px;
	text-align: right;
	float: left;
}

.ingredientsToo {
	font-family: charCap;
	font-size: 13.5px;
	line-height: 1.2em;
	margin: 0px 25px 25px 10px;
	float: left;
	text-align: left
}

.instructions {
	font-family: charDisp;
	font-size: 17px;
	line-height: 1.25em;
	margin: 0px 25px 10px 50px;
}


#section {
	font-family: neutraBold;
	font-size: 19px;
	letter-spacing: 0.03em;
	margin: 10px 25px 10px 0px;
}

.section {
	font-family: neutraBold;
	font-size: 19px;
	letter-spacing: 0.03em;
	margin: 10px 25px 10px 50px;
	clear: left;
}

.sentence {
	margin: 5.5px 0px 0px 0px;
}

ol {
	counter-reset: myCounter;
}

ol li:before {
	content: counter(myCounter);
	counter-increment: myCounter;
	margin: 0px 20px 0px -30px;
	font-family: neutraReg;
	font-size: 20px;
}

