
/* Meyer Reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/*-------------------------------------------------------*/


@media handheld and (max-width: 1000px) {
	/*.logo h1 img { max-width: 100%; }
	.title h2 { font-size: 16px; }
	.title h3 { font-size: 16px; }
	.nav h5 a { font-size: 16px; }
	.nav h6 a { font-size: 16px; }
	.slogan h4 { display: none; }
	.slogan h5 { display: inline-block; max-width: 100%; height: auto; }
	.logo h2 img { display: inline-block; }
	.logo h1 img { display: none; }
	#bottomnav ul li { display: none; }
	#smallnav ul li {display: block; }
	.contact p { display: none; }*/
	.logo h1 img { display: none; }
	.logo h2 img { display: none; }
}

@media screen and (max-width:2000px) {
	.slogan h4 { display: inline-block; max-width: 100%; height: auto; }
	.slogan h5 { display: none; }
	.logo h2 img { display: none; }
	#smallnav ul li { display: none; }
	}

@media screen and (max-width:1020px) {
	.slogan h4 { display: none; }
	.slogan h5 { display: inline-block; max-width: 100%; height: auto; }
	.logo h2 img { display: none; }
	#smallnav ul li { display: none; }
	}

@media screen and (max-width:630px) {
	#bottomnav ul { float: none; }
	.contact p { display: none; }
	#smallnav ul li { display: none; }
	}
	
@media screen and (max-width:485px) {
	.slogan h4 { display: none; }
	.slogan h5 { display: inline-block; max-width: 100%; height: auto; }
	.logo h2 img { display: inline-block; }
	.logo h1 img { display: none; }
	#bottomnav ul li { display: none; }
	#smallnav ul li {display: block; }
	.contact p { display: none; }
	}
		
@font-face {
	font-family: bold;
	src: url("Font/Nexa Bold.otf");
}

@font-face {
	font-family: archIt;
	src: url("Font/Archer-LightItal-Pro.otf");
}

body {
	background-color: #F1F1F1;
}

.logo {
	padding-bottom: 10px;
	height: 95px;
	width: 135px;
	margin-top: 40px;
	margin-left: 6%;
	float: left;
	border-right: 1px solid #D1D1D1;
}

.title {
	float: left;
	margin-top: 78px;
	margin-left: 45px;
}

.logo h1 {
	display: inline-block;
	float: left;
}

.logo h2 {
	display: inline-block;
	position: absolute;
	top: 5px;
	left: 20%;
}

.title h2 {
	float: left;
	text-decoration: none;
	font-family: bold;
	font-size: .8em;
	color: #4B4B4B;
	text-transform: uppercase;
    margin: 5px 30px 5px 0px;
	letter-spacing: .05em;
}

.title h3 {
	float: left;
	text-decoration: none;
	font-family: bold;
	font-size: .8em;
	color: #4B4B4B;
	text-transform: uppercase;
    margin: 5px 30px 5px 5px;
	letter-spacing: .05em;
}

h5 {
	font-family: archIt;
	font-size: .95em;
	float: left;
}

h6 {
	font-family: archIt;
	font-size: .95em;
	float: left;
	padding: 0px 0px 0px 90px;
}


a:link {
    text-decoration: none;
	color: #4B4B4B;
}

a:visited {
    text-decoration: none;
	color: #4B4B4B;
}

a:hover {
    text-decoration: none;
	color: #00C07A;
}

a:active {
    text-decoration: none;
	color: #00C07A;
}

.slogan {
	margin-left: 3.5%;
	margin-right: 6%;
}

.slogan h4 img {
	max-width: 100%;
	height: auto;
	padding-top: 35px;
	padding-bottom: 20px;
	display: inline-block;
}

.slogan h5 img {
	display: inline-block;
	max-width: 100%;
	height: auto;
	padding-bottom: 20px;
}

section {
	clear: left;
}

footer {
	background-color: #00C07A;
	overflow: hidden;
	clear: left;
	padding-bottom: 20px;
}

footer p {
	font-family: bold;
	font-size: 1.2em;
	color: #ffffff;
	text-transform: uppercase;
	letter-spacing: .08em;
}

.contact {
	padding-top: 25px;
	padding-left: 7%;
	float: left;
}

#bottomnav {
	display: inline-block;
	float: right;
	font-family: archIt;
	font-size: 1em;
	color: #ffffff;
	margin-right: 8%;
	padding-top: 25px;
}

#bottomnav li {
	float: left;
	padding: 0px 30px 0px 0px;
}

#smallnav {
	display: inline-block;
	font-family: archIt;
	font-size: 1em;
	color: #ffffff;
	padding-top: 25px;
}

#smallnav li {
	padding: 10px 0px 0px 0px;
	margin-left: 7%;
}



