
/* Meyer Reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/*-------------------------------------------------------*/




@media screen and (max-width:2000px) {
	.logo h2 img { display: none; }
	#smallnav ul li { display: none; }
	.images2 { display: none; }
	#photos3 { display: none; }
	#photos4 { display: none; }
	.video-container2 iframe { display: none; }
	.video-container2 { display: none; }
	#paragraphs2 { display: none; }
	.video-container { display: block; }
	.buttons2 { display: none; }
	}

@media screen and (max-width:1370px) {
	.images { display: none; }
	.images2 { display: block; }
	#stills { display: none; }
	#stills2 { display: none; }
	#stills3 { display: none; }
	#stills4 { display: none; }
	#stills5 { display: none; }
	#stills6 { display: none; }
	#photos { display: none; }
	#photos3 { display: block; }
	#photos2 { display: none; }
	#photos4 { display: block; }
	.video-container2 iframe { display: block; }
	.video-container2 { display: block; }
	#paragraphs2 { display: block; }
	.buttons2 { display: none; }
	}
	
@media screen and (max-width: 900px) {
	.buttons img { display: none; }
	.buttons2 { display: block; }
}

@media screen and (max-width:630px) {
	#bottomnav ul { float: none; }
	.contact p { display: none; }
	#smallnav ul li { display: none; }
	}
	
@media screen and (max-width:1000px) {

	}
		
@media screen and (max-width:485px) {
	.logo h2 img { display: inline-block; }
	.logo h1 img { display: none; }
	#bottomnav ul li { display: none; }
	#smallnav ul li {display: block; }
	.contact p { display: none; }
	#header { height: 0px; margin-bottom: -20px; }
	.logo { position: absolute; top: -9999px; }
	.title { position: relative; top: -10px; left: -4px; }
	}
		
@font-face {
	font-family: bold;
	src: url("Font/Nexa Bold.otf");
}

@font-face {
	font-family: archIt;
	src: url("Font/Archer-LightItal-Pro.otf");
}

@font-face {
	font-family: arch;
	src: url("Font/Archer-Light.otf");
}

body {
	background-color: #F1F1F1;
}

.logo {
	padding-bottom: 10px;
	height: 95px;
	width: 135px;
	margin-top: 40px;
	margin-left: 6%;
	float: left;
	border-right: 1px solid #D1D1D1;
}

.title {
	float: left;
	margin-top: 78px;
	margin-left: 45px;
}

.logo h1 {
	display: inline-block;
	float: left;
}

.logo h2 {
	display: inline-block;
	position: absolute;
	top: 5px;
	left: 20%;
}

.title h2 {
	float: left;
	text-decoration: none;
	font-family: bold;
	font-size: .8em;
	color: #4B4B4B;
	text-transform: uppercase;
    margin: 5px 30px 5px 0px;
	letter-spacing: .05em;
}

.title h3 {
	float: left;
	text-decoration: none;
	font-family: bold;
	font-size: .8em;
	color: #4B4B4B;
	text-transform: uppercase;
    margin: 5px 30px 5px 5px;
	letter-spacing: .05em;
}

h5 {
	font-family: archIt;
	font-size: .95em;
	float: left;
}

h6 {
	font-family: archIt;
	font-size: .95em;
	float: left;
	padding: 0px 0px 0px 90px;
}


a:link {
    text-decoration: none;
	color: #4B4B4B;
}

a:visited {
    text-decoration: none;
	color: #4B4B4B;
}

a:hover {
    text-decoration: none;
	color: #00C07A;
}

a:active {
    text-decoration: none;
	color: #00C07A;
}

#header {
	height: 125px;
	padding-bottom: 70px;
}


.buttons {
	position: absolute;
	right: 7%;
	top: 140px;
}

.buttons img:hover {
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+, Firefox on Android */
    filter: gray; /* IE6-9 */
   -webkit-filter: grayscale(100%); /* Chrome 19+, Safari 6+, Safari 6+ iOS */
    opacity: 0.4;
    filter: alpha(opacity=40); /* For IE8 and earlier */
}

.buttons2 {
	text-align: center;
	margin-bottom: 45px;
}

.buttons2 img:hover {
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+, Firefox on Android */
    filter: gray; /* IE6-9 */
   -webkit-filter: grayscale(100%); /* Chrome 19+, Safari 6+, Safari 6+ iOS */
    opacity: 0.4;
    filter: alpha(opacity=40); /* For IE8 and earlier */
}

section {
	clear: left;
}

.images {
	margin-left: 7%;
	margin-right: 7%;
	background-color: #ffffff;
}

#video-container {
    position: relative;
    padding-bottom: 40%;
    padding-top: 25px; height: 0; overflow: hidden;
}
 
#video-container iframe,
#video-container object,
#video-container embed {
    position: absolute;
    top: 35px;
    left: 90px;
    width: 85%;
    height: 85%;
}

#video-container2 {
    position: relative;
    padding-bottom: 60%;
    padding-top: 25px; height: 0;	 
}

.video-container2 p {
	font-family: arch;
	font-size: .9em;
	line-height: 1.2em;
	margin-bottom: .75em;
}
 
#video-container2 iframe,
#video-container2 object,
#video-container2 embed {
    position: absolute;
    top: 35;
    left: 6%;
    width: 90%;
    height: 85%;
}

.images p {
	font-family: arch;
	font-size: .9em;
	line-height: 1.3em;
	margin-bottom: .75em;
}

#paragraphs {
	float: left;
	width: 23%;
	padding-left: 4%;
	padding-right: 4%;
	padding-top: 35px;
    background-color: #ffffff;
}

#paragraphs h1 {
	font-family: bold;
	font-size: 2.25em;
	text-transform: uppercase;
	color: #4B4B4B;
}

#paragraphs h2 {
	font-family: arch;
	font-size: 1.75em;
	color: #00C07A;
	padding-bottom: 1em;
}

#paragraphs h3 {
	font-family: bold;
	font-size: 1em;
	text-transform: uppercase;
	color: #4B4B4B;
	padding-top: 1em;
	padding-bottom: .35em;
}

#paragraphs h4 {
	font-family: arch;
	font-size: 1em;
	line-height: 1.2em;
	color: #00C07A;
}

.images2 {
	margin-left: 7%;
	margin-right: 7%;
	background-color: #ffffff;
	padding-right: 10px;
	overflow: hidden;
}

.images2 p {
	font-family: arch;
	font-size: .9em;
	line-height: 1.2em;
	margin-bottom: .75em;
}

.video-container2 {
	margin-left: 7%;
	margin-right: 7%;
	background-color: #ffffff;
	padding-right: 10px;
	overflow: hidden;
}

.videocontainer2 p {
	font-family: arch;
	font-size: .9em;
	line-height: 1.2em;
	margin-bottom: .75em;
}


#paragraphs2 {
	float: left;
	width: 85%;
	padding-left: 8%;
	padding-right: 7%;
	padding-top: 15px;
	padding-bottom: 35px;
    background-color: #ffffff;
}

#paragraphs2 h1 {
	font-family: bold;
	font-size: 2.25em;
	text-transform: uppercase;
	color: #4B4B4B;
}

#paragraphs2 h2 {
	font-family: arch;
	font-size: 1.75em;
	color: #00C07A;
	padding-bottom: 1em;
}

#paragraphs2 h3 {
	font-family: bold;
	font-size: 1em;
	text-transform: uppercase;
	color: #4B4B4B;
	padding-top: 1em;
	padding-bottom: .35em;
}

#paragraphs2 h4 {
	font-family: arch;
	font-size: 1em;
	color: #00C07A;
	padding-bottom: 1em;
}

.stills {
	margin-left: 7%;
	margin-right: 7%;
	margin-top: 30px;
	margin-bottom: 45px;
	overflow: hidden;
	background-color: #ffffff;
}

#stills {
	float: left;
	width: 20%;
	padding-left: 4%;
	padding-right: 7%;
	padding-top: 35px;
	padding-bottom: 15px;
	margin-top: 30px;
	margin-bottom: 45px;

}

#stills2 {
	float: left;
	width: 20%;
	padding-left: 4%;
	padding-right: 7%;
	padding-top: 35px;
	padding-bottom: 15px;
	margin-top: 30px;
	margin-bottom: 45px;

}

#stills3 {
	float: left;
	width: 20%;
	padding-left: 4%;
	padding-right: 7%;
	padding-top: 35px;
	padding-bottom: 15px;
	margin-top: 30px;
	margin-bottom: 45px;

}

#stills4 {
	float: left;
	width: 20%;
	padding-left: 4%;
	padding-right: 7%;
	padding-top: 35px;
	padding-bottom: 15px;
	margin-top: 30px;
	margin-bottom: 45px;
}

#stills5 {
	float: left;
	width: 20%;
	padding-left: 4%;
	padding-right: 7%;
	padding-top: 35px;
	padding-bottom: 15px;
	margin-top: 30px;
	margin-bottom: 45px;
}

#stills6 {
	float: left;
	width: 20%;
	padding-left: 4%;
	padding-right: 7%;
	padding-top: 35px;
	padding-bottom: 15px;
	margin-top: 30px;
	margin-bottom: 45px;
}

#stills h1 {
	font-family: bold;
	font-size: 2.25em;
	text-transform: uppercase;
	color: #4B4B4B;
}

#images img {
	padding-top: 20px;
	padding-bottom: 26px;
	width: 65%;
	background: #ffffff;
}

#images2 img {
	padding-top: 20px;
	padding-bottom: 26px;
	padding-left: 4%;
	width: 96%;
	background: #ffffff;
}

#images2 {
	margin-right: 4%;
	margin-left: 10px;
}

#photos img {
	padding-top: 20px;
	padding-bottom: 26px;
	width: 65%;
}

#photos2 img {
	padding-top: 20px;
	padding-bottom: 26px;
	width: 32%;
	padding-right: 10px;
}

#photos4 img {
	padding-top: 20px;
	padding-bottom: 26px;
	width: 47.5%;
	margin-left: 1.2%;
}

#photos3 img {
	padding-top: 20px;
	padding-bottom: 26px;
	width: 92%;
	padding-left: 4%;
}

.bottom {
	padding-left: 4%;
	padding-right: 4%;
}

footer {
	background-color: #00C07A;
	overflow: hidden;
	clear: left;
	padding-bottom: 20px;
}

footer p {
	font-family: bold;
	font-size: 1.2em;
	color: #ffffff;
	text-transform: uppercase;
	letter-spacing: .08em;
}

.contact {
	padding-top: 25px;
	padding-left: 7%;
	float: left;
}

#bottomnav {
	display: inline-block;
	float: right;
	font-family: archIt;
	font-size: 1em;
	color: #ffffff;
	margin-right: 7%;
	padding-top: 25px;
}

#bottomnav li {
	float: left;
	padding: 0px 30px 0px 0px;
}

#smallnav {
	display: inline-block;
	font-family: archIt;
	font-size: 1em;
	color: #ffffff;
	padding-top: 25px;
}

#smallnav li {
	padding: 10px 0px 0px 0px;
	margin-left: 7%;
}



