
/* Meyer Reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/*-------------------------------------------------------*/



@media screen and (max-width:2000px) {
	.images3 { display: none; }
	.images2 { display: none; }	
	.logo h2 img { display: none; }
	#smallnav ul li { display: none; }
	}

@media screen and (max-width:1270px) {
	.images3 { display: none; }
	.images2 { display: block; }
	.images { display: none; }
	}

@media screen and (max-width:630px) {
	.images3 { display: none; }
	.images img { display: none; }
	#bottomnav ul { float: none; }
	.contact p { display: none; }
	#smallnav ul li { display: none; }
	}
	
@media screen and (max-width:1000px) {
	.images2 { display: none; }
	.images3 { display: block; }
	}
		
@media screen and (max-width:485px) {
	.images3 { display: block; }
	.images2 { display: none; }
	.images img { display: none; }
	.logo h2 img { display: inline-block; }
	.logo h1 img { display: none; }
	#bottomnav ul li { display: none; }
	#smallnav ul li {display: block; }
	.contact p { display: none; }
	}
		
@font-face {
	font-family: bold;
	src: url("Font/Nexa Bold.otf");
}

@font-face {
	font-family: archIt;
	src: url("Font/Archer-LightItal-Pro.otf");
}

body {
	background-color: #F1F1F1;
}

.logo {
	padding-bottom: 10px;
	height: 95px;
	width: 135px;
	margin-top: 40px;
	margin-left: 6%;
	float: left;
	border-right: 1px solid #D1D1D1;
}

.title {
	float: left;
	margin-top: 78px;
	margin-left: 45px;
}

.logo h1 {
	display: inline-block;
	float: left;
}

.logo h2 {
	display: inline-block;
	position: absolute;
	top: 5px;
	left: 20%;
}

.title h2 {
	float: left;
	text-decoration: none;
	font-family: bold;
	font-size: .8em;
	color: #4B4B4B;
	text-transform: uppercase;
    margin: 5px 30px 5px 0px;
	letter-spacing: .05em;
}

.title h3 {
	float: left;
	text-decoration: none;
	font-family: bold;
	font-size: .8em;
	color: #4B4B4B;
	text-transform: uppercase;
    margin: 5px 30px 5px 5px;
	letter-spacing: .05em;
}

h5 {
	font-family: archIt;
	font-size: .95em;
	float: left;
}

h6 {
	font-family: archIt;
	font-size: .95em;
	float: left;
	padding: 0px 0px 0px 90px;
	margin-bottom: 5px;
}

.nav h4 {
	clear: left;
	margin-top: 10px;
	margin-left: 165px;
	width: 60px;
	height: 2px;
	background-color: #00C07A;
	overflow: hidden;
}

a:link {
    text-decoration: none;
	color: #4B4B4B;
}

a:visited {
    text-decoration: none;
	color: #4B4B4B;
}

a:hover {
    text-decoration: none;
	color: #00C07A;
}

a:active {
    text-decoration: none;
	color: #00C07A;
}

section {
	clear: left;
	padding-top: 45px;
}

.images img {
	max-width: 31.5%;
	height: auto;
	float: left;
	margin-right: 20px;
	padding-bottom: 15px;
	margin-bottom: 30px;
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+, Firefox on Android */
    filter: gray; /* IE6-9 */
   -webkit-filter: grayscale(100%); /* Chrome 19+, Safari 6+, Safari 6+ iOS */
    opacity: 0.9;
    filter: alpha(opacity=90); /* For IE8 and earlier */
}

.images img:hover {
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+, Firefox on Android */
    filter: none; /* IE6-9 */
   -webkit-filter: grayscale(0%); /* Chrome 19+, Safari 6+, Safari 6+ iOS */
    opacity: 1;
    filter: alpha(opacity=100); /* For IE8 and earlier */
}

.images {
	padding-bottom: 20px;
	margin-left: 7%;
	margin-right: 7%;
}

.images2 img {
	max-width: 47.5%;
	height: auto;
	float: left;
	padding-right: 20px;
	padding-bottom: 45px;
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+, Firefox on Android */
    filter: gray; /* IE6-9 */
   -webkit-filter: grayscale(100%); /* Chrome 19+, Safari 6+, Safari 6+ iOS */
   -webkit-filter: grayscale(100%); /* Chrome 19+, Safari 6+, Safari 6+ iOS */
    opacity: 0.9;
    filter: alpha(opacity=90); /* For IE8 and earlier */
}

.images2 img:hover {
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+, Firefox on Android */
    filter: none; /* IE6-9 */
   -webkit-filter: grayscale(0%); /* Chrome 19+, Safari 6+, Safari 6+ iOS */
   -webkit-filter: grayscale(0%); /* Chrome 19+, Safari 6+, Safari 6+ iOS */
    opacity: 1;
    filter: alpha(opacity=100); /* For IE8 and earlier */
}

.images2 {
	padding-bottom: 20px;
	margin-left: 7%;
	margin-right: 7%;
}

.images3 img {
	max-width: 95%;
	height: auto;
	float: left;
	padding-right: 20px;
	padding-bottom: 30px;
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+, Firefox on Android */
    filter: gray; /* IE6-9 */
   -webkit-filter: grayscale(100%); /* Chrome 19+, Safari 6+, Safari 6+ iOS */
   -webkit-filter: grayscale(100%); /* Chrome 19+, Safari 6+, Safari 6+ iOS */
    opacity: 0.9;
    filter: alpha(opacity=90); /* For IE8 and earlier */
}

.images3 img:hover {
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+, Firefox on Android */
    filter: none; /* IE6-9 */
   -webkit-filter: grayscale(0%); /* Chrome 19+, Safari 6+, Safari 6+ iOS */
   -webkit-filter: grayscale(0%); /* Chrome 19+, Safari 6+, Safari 6+ iOS */
    opacity: 1;
    filter: alpha(opacity=100); /* For IE8 and earlier */
}

.images3 {
	padding-bottom: 20px;
	margin-left: 7%;
	margin-right: 7%;
}

footer {
	background-color: #00C07A;
	overflow: hidden;
	clear: left;
	padding-bottom: 20px;
}

footer p {
	font-family: bold;
	font-size: 1.2em;
	color: #ffffff;
	text-transform: uppercase;
	letter-spacing: .08em;
}

.contact {
	padding-top: 25px;
	padding-left: 7%;
	float: left;
}

#bottomnav {
	display: inline-block;
	float: right;
	font-family: archIt;
	font-size: 1em;
	color: #ffffff;
	margin-right: 7%;
	padding-top: 25px;
}

#bottomnav li {
	float: left;
	padding: 0px 30px 0px 0px;
}

#smallnav {
	display: inline-block;
	font-family: archIt;
	font-size: 1em;
	color: #ffffff;
	padding-top: 25px;
}

#smallnav li {
	padding: 10px 0px 0px 0px;
	margin-left: 7%;
}



