

/* Meyer Reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/*-------------------------------------------------------*/










body {
	margin: 0 auto;
	width: 90%;
}

.header {
	padding-left: 20%;
	padding-right: 20%;
	background-color: beige;
}

header h1 {
	margin-top: -15px;
}

#top-nav {
	text-align: right;
	font-family: sans-serif;
	padding: 5px 20px 0px 0px;
	color: SaddleBrown;
	font-size: 10px;
}

#top-nav a {
	text-decoration: none;
	color: SaddleBrown;
	padding: 10px;
}

.navigation {
	padding-left: 20%;
	padding-right: 20%;
}

.navigation a {
	float: left;
	padding: 10px 30px 0px 0px;
	text-transform: uppercase;
	text-decoration: none;
	font-size: 13px;
	font-family: sans-serif;
	font-weight: bold;
	padding-bottom: 8px;
	color: white;
}

#navigation {
	background-color: SaddleBrown;
	width: 100%;
	height: 35px; 
}

#page {
	float: left;
	width: 420px;
	padding-bottom: 5%;
}

#page h1 {
	font-size: 35px;
	padding-top: 50px;
	text-transform: uppercase;
	font-family: sans-serif;
	font-weight: bold;
	color: SaddleBrown;
}

#page h2 {
	font-size: 17px;
	padding-top: 10px;
	padding-bottom: 10px;
	text-transform: uppercase;
	font-family: sans-serif;
	font-weight: bold;
	color: SaddleBrown;
}

#page p {
	font-size: 11.5px;
	padding-bottom: .75em;
	line-height: 1.45em;
	font-family: sans-serif;
}

.everything {
	padding-left: 20%;
	padding-right: 20%;
	padding-top: 25px;
}

#sidebar {
	float: left;
	width: 25%;
	margin-left: 22%;
	margin-top: 70px;
	margin-bottom: 5%;
}

#sidebar h1 {
	font-size: 17px;
	padding-top: 10px;
	padding-bottom: 10px;
	text-transform: uppercase;
	font-family: sans-serif;
	font-weight: bold;
	color: SaddleBrown;
}

#sidebar a {
	font-size: 11.5px;
	font-family: sans-serif;
	color: SaddleBrown;
	text-decoration: none;
}

#sidebar li {
	padding-bottom: 3px;
}

#footer-wrapper {
	clear: left;
	padding-left: 20%;
	padding-right: 20%;
	background-color: SaddleBrown;	
	float: left;
	width: 60%;
	padding-bottom: 20px;
}

#footer-wrapper h1 {
	font-size: 16px;
	padding-top: 15px;
	padding-bottom: 10px;
	text-transform: uppercase;
	font-family: sans-serif;
	font-weight: bold;
	color: beige;
}

#footer-wrapper p {
	font-size: 11.5px;
	font-family: sans-serif;
	line-height: 1.6em;
	color: white;
}

#footer-follow a {
	float: left;
}

#footer-follow {
	margin-left: 75%;
}

#footer-follow h1 {
	color: beige;
}

#footer-contact {
	width: 150px;
	float: left;
}
